/* Basic Styles */
body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    margin: 10;
    margin-bottom: 1in;
    padding: 0;
    color: #333;
}

/* Navbar Styles */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 5px solid #e7e7e7;
    background-color: #000000;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li a {
    display: block;
    color: #f0f0f0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #6a6a6a;
}

/* Heading Styles */
h1 {
    text-align: center;
}

/* Image Styles */
.cric-match {
    width: 50%;
    margin-left: 375px;
    border: 3px solid black;
}

.cric-field {
    width: 50%;
    margin-left: 375px;
    border: 3px solid black;
}

.don1 {
    width: 20%;
    margin-left: 40%;
    border: 3px solid black;
}

.don2 {
    width: 20%;
    margin-left: 40%;
    border: 3px solid black;
}

.sachin1 {
    width: 40%;
    margin-left: 30%;
    border: 3px solid black;
}

.sachin2 {
    margin-left: 37%;
    border: 3px solid black;
}

.garifield1 {
    margin-left: 43.5%;
    border: 3px solid black;
}

.garifield2 {
    width: 35%;
    margin-left: 32.5%;
    border: 3px solid black;
}

.imran1 {
    width: 20%;
    margin-left: 40%;
    border: 3px solid black;
}

.imran2 {
    width: 20%;
    margin-left: 40%;
    border: 3px solid black;
}

.ian1 {
    margin-left: 41%;
    border: 3px solid black;
}

.ian2 {
    margin-left: 38%;
    border: 3px solid black;
}

/* Paragraph Styles */
.paragraph1 {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-align: center;
}

.paragraph2 {
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-align: center;
}

.flex-style {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}

.grid-style {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}

/* External Link Style */
.external-link {
    text-align: center;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

/* Flex Container */
.flex-container {
    display: flex;
    gap: 20px;  
}

.flex-container div {
    padding: 20px;
}

.flex-container .player1 {
    background-color: green;
}

.flex-container .player2 {
    background-color: green;
}

.flex-container .player3 {
    background-color: green;
}

/* Grid Container  */
.grid-container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: 300px;
}
  
.grid-container div {
    margin:10px;
}

.grid-container .gplayer1 {
     border: 3px solid rgb(151, 107, 113);
      background-color: bisque;
}

.grid-container .gplayer2 {
    border: 3px solid rgb(151, 107, 113);
     background-color: bisque;
}

.grid-container .gplayer3 {
    border: 3px solid rgb(151, 107, 113);
     background-color: bisque;
}

.grid-container .gplayer4 {
    border: 3px solid rgb(151, 107, 113);
     background-color: bisque;
}

.grid-container .gplayer5 {
    border: 3px solid rgb(151, 107, 113);
     background-color: bisque;
}