/* Basic Styles */
body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Navbar Styles */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 5px solid #e7e7e7;
    background-color: #000000;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li a {
    display: block;
    color: #f0f0f0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #6a6a6a;
}

/* Heading Styles */
h1 {
    text-align: center;
}

/* Image Styles */
.cric-match {
    width: 50%;
    margin-left: 375px;
}

.cric-field {
    width: 50%;
    margin-left: 375px;
}

.don1 {
    width: 20%;
    margin-left: 40%;
}

.don2 {
    width: 20%;
    margin-left: 40%;
}

/* Paragraph Styles */
.paragraph1 {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-align: center;
}

.paragraph2 {
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-align: center;
}

/* External Link Style */
.external-link {
    text-align: center;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}